<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mloine</title>
</head>
<body>

<div id="app">
    <h3>{{num1}}</h3>
    <h3>{{num2}}</h3>
    <hr>
    <cpn 
        :number1="num1" 
        :number2="num2" 
        @number1change="number1change"
        @number2change="number2change"
    ></cpn>
</div>

<template id='cpn'> 
    <div>
        <h2>props:{{number1}}</h2>
        <h2>data:{{dnumber1}}</h2>
        <!-- <input type="text" v-model="dnumber1"> -->
        <!-- <input type="text" :value="dnumber1" @input="dnumber1=$event.target.value"> -->
        <input type="text" :value="dnumber1" @input="number1input">
        <h2>props:{{number2}}</h2>
        <h2>data:{{dnumber2}}</h2>
        <!-- <input type="text" v-model="dnumber2"> -->
        <input type="text" :value="dnumber2" @input="number2input">
    </div>
</template>
<script src="../j's/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data:{
            num1: 1,
            num2: 0
        },
        components:{
            'cpn':{
                template:'#cpn',
                props:{
                    number1:{
                        type:Number
                    },
                    number2:{
                        type:Number
                    }
                },
                data(){
                    return {
                        dnumber1:this.number1,
                        dnumber2:this.number2
                    }
                },
                methods: {
                    number1input(event){
                        this.dnumber1 = event.target.value;
                        this.$emit('number1change',this.dnumber1);
                        
                        this.dnumber2 = this.dnumber1 * 100;
                        this.$emit('number2change',this.dnumber2);

                    },
                    number2input(event){
                        this.dnumber2 = event.target.value;
                        this.$emit('number2change',this.dnumber2);

                          
                        this.dnumber1 = this.dnumber2 / 100;
                        this.$emit('number1change',this.dnumber1);
                    },
                },
      
            },
        
        },
        methods: {
            number1change(value){   
                console.log('number1change');    
                console.log(value);    
                console.log(typeof value);    
                this.num1= parseInt(value);


            },
            number2change(value){
                console.log('number2change');     
                this.num2=parseInt(value);
            },
        },
    })
</script>
</body>
</html>